.error {
  display: inline-block;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 24px;
  font-weight: 600;
  font-family: var(--font-family);

  color: var(--red);
}  
