.no_select {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 20px;
  white-space: nowrap;
  font-weight: 600;

  color: var(--purple);
}

.add_label {
  position: absolute;
  top: 1rem;
  left: 2px;
  border-radius: 50%;
  
  cursor: pointer;
  color: var(--white);
  background: var(--purple);
}

.add_label:hover {
  text-shadow: 
    0 0 10px var(--purple-tr), 
    0 0 20px var(--purple-tr), 
    0 0 40px var(--purple-tr), 
    0 0 80px var(--purple-tr), 
    0 0 160px var(--purple-tr);

  background: var(--purple-tr);
}
