@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari&family=Comfortaa:wght@500&family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --purple: #3b5998;
  --green-lite: #898F9C;
  --white: #f2f3f4;
  --black: #3B434E;
  --font-family: 'Roboto', sans-serif;
}

html, body {
  font-size: 16px;
  background: var(--purple);
  transition: all .3s linear;
  font-family: var(--font-family);
}

::-webkit-scrollbar {
  width: .5rem;
  border-radius: .25rem;
  background: var(--black);
}

::-webkit-scrollbar-thumb {
  border-radius: .25rem;
  background: var(--green-lite);
}

